<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <title>Laptop Store Website - Giỏ Hàng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous"> -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/themes/css/bootstrappage.css" rel="stylesheet" />

    <!-- global styles -->
    <link href="/themes/css/flexslider.css" rel="stylesheet" />
    <link href="/themes/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/themes/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="themes/css/font-awesome.min2.css"> -->
    <link rel="stylesheet" type="text/css" href="/themes/css/font-awesome.min3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <!-- scripts -->
    <script src="/themes/js/jquery-1.7.2.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/themes/js/superfish.js"></script>
    <script src="/themes/js/jquery.scrolltotop.js"></script>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="themes/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="top-bar" class="container">
        <div class="row">
            <div class="span4">
                <form method="POST" class="search_form">
                    <div class="input-group">
                        <input type="text" class="search-query form-control input-group" Placeholder="My laptop.">
                        <span class="input-group-btn">
                            <button class="btn btn-primary rounded-circle btnpro" id="btn-search" type="button">
                                <span class=" fas fa-search"></span>
                            </button>
                        </span>

                    </div>
                </form>
            </div>
            <div class="span8">
                <div class="account pull-right">
                    <ul class="user-menu">
                        <li><a href="customer.html" id="acc">Tài khoản</a></li>
                        <li><a href="cart.html"> Giỏ hàng </a></li>
                        <li><a href="checkout.html"> Thanh toán </a></li>
                        <li><a href="register.html"> Đăng nhập </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapper" class="container">
        <section class="navbar main-menu">
            <div class="navbar-inner main-menu">
                <a href="index.html" class="logo pull-left"><h4 class="title">Duy Thành Store</h4> </a>
                <nav id="menu" class="pull-right">
                    <ul>
                        <li>
                            <a href="./products.html">Hãng sản xuất</a>
                            <ul>
                                <li><a href="./products.html">Apple</a></li>
                                <li><a href="./products.html">Dell</a></li>
                                <li><a href="./products.html">Asus</a></li>
                                <li><a href="./products.html">HP</a></li>
                                <li><a href="./products.html">Acer</a></li>
                                <li><a href="./products.html">Lenovo</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="./products.html">Loại sản phẩm</a>
                            <ul>
                                <li><a href="./products.html">Chơi game</a></li>
                                <li><a href="./products.html">Học tập-văn phòng</a></li>
                                <li><a href="./products.html">Đồ họa-kỹ thuật</a></li>
                                <li><a href="./products.html">Cao cấp sang trọng</a></li>
                            </ul>
                        </li>
                        <li><a href="./products.html">Bán chạy nhất</a></li>
                        <li><a href="./products.html">Sản phẩm mới</a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <section class="header_text sub">
            <img class="pageBanner" src="/themes/images/baner.jpg" alt="New products">
            <br />
            <h4><span>Shopping Cart</span></h4>
        </section>
        <section class="main-content">
            <div class="row">
                <div class="span9">
                    <h4 class="title"><span class="text"><strong>Giỏ Hàng</strong> Của Bạn </span></h4>
                    <table class="table table-striped" id="mahd">
                        <thead>
                            <tr>
                                <!--<th>Xóa</th>-->
                                <th>Mã HD</th>
                                <th>Mặt hàng</th>
                                <th> Tên Sản Phẩm </th>
                                <th> Số Lượng </th>
                                <th> Giá Tiền </th>
                                <th> Tổng </th>
                                <th> Xóa </th>
                                <th> Sửa </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--<tr>
                            <td><input type="checkbox" value="option1"></td>
                            <td><a href="product_detail.html"><img alt="" src="/themes/images/cloth/anh2.png"></a></td>
                            <td>Macbook Air 13 256GB MQD42SA/A (2017)</td>
                            <td><input type="text" placeholder="1" class="input-mini"></td>
                            <td>28.999.000đ</td>
                            <td>28.999.000đ</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" value="option1"></td>
                            <td><a href="product_detail.html"><img alt="" src="/themes/images/cloth/anh17.png"></a></td>
                            <td>Laptop HP Envy 13 ad140TU i7 8550U/8GB/256GB/Win10/(3CH47PA)</td>
                            <td><input type="text" placeholder="2" class="input-mini"></td>
                            <td>20.400.000đ</td>
                            <td>40.800.000đ</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" value="option1"></td>
                            <td><a href="product_detail.html"><img alt="" src="/themes/images/cloth/anh24.png"></a></td>
                            <td>Laptop Lenovo Ideapad 720s-13IKB 81BV0062VN (i7-8550U) </td>
                            <td><input type="text" placeholder="1" class="input-mini"></td>
                            <td>23.990.000đ</td>
                            <td>23.990.000đ</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td><strong>93.789.000đ</strong></td>
                        </tr>-->
                        </tbody>
                    </table>
                    <!--<h4> Bạn muốn làm gì tiếp theo? </h4>
                    <p>Chọn 1 đáp án nếu bạn có mã giảm giá hoặc điểm thưởng mà bạn muốn sử dụng hoặc ước tính chi phí vận chuyển của bạn</p>
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                        Sử dụng mã giảm giá
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Ước lượng chi phí mua hàng &amp; cả thuế
                    </label>
                    <hr>-->
                    <p class="cart-total right" id="money-total">
                        <!--<strong>Tiền Hàng</strong>:	93.789.000đ<br>
                        <strong>Thuế môi trường (-50.000)</strong>: 50.000đ<br>
                        <strong>Thuế GTGT (9.0%)</strong>: 8.441.010đ<br>
                        <strong> Tổng </strong>: 102.280.010đ<br>-->
                    </p>
                    <hr />
                    <p class="buttons center">
                        <button class="btn" type="button" id="btn-refresh"> Cập Nhật </button>
                        <button class="btn" type="button" id="btn-continue"> Tiếp Tục </button>
                        <button class="btn btn-inverse" type="submit" id="checkout">Thanh Toán</button>
                    </p>
                </div>
                <div class="span3 col">
                    <div class="block">
                        <ul class="nav nav-list">
                            <li class="nav-header">Laptop khác</li>
                            <li><a href="products.html">LapTop Dell</a></li>
                            <li class="active"><a href="products.html">Laptop Apple</a></li>
                            <li><a href="products.html">Laptop ASUS</a></li>
                            <li><a href="products.html">Laptop HP  </a></li>
                            <li><a href="products.html">Laptop Lenovo  </a></li>
                            <li><a href="products.html">LapTop Acer  </a></li>
                        </ul>
                        <br />
                        <ul class="nav nav-list below">
                            <li class="nav-header">Loại Laptop</li>
                            <li><a href="products.html">Chơi Game</a></li>
                            <li><a href="products.html">Tin học - văn phòng</a></li>
                            <li><a href="products.html">Đồ họa</a></li>
                        </ul>
                    </div>
                    <div class="block">
                        <h4 class="title">
                            <span class="pull-left"><span class="text">Đề xuất</span></span>
                            <span class="pull-right">
                                <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
                            </span>
                        </h4>
                        <div id="myCarousel" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="active item">
                                    <ul class="thumbnails listing-products">
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <a href="product_detail.html"><img alt="" src="/themes/images/cloth/anh13.png"></a><br />
                                                <a href="product_detail.html" class="title">Asus X441NA N4200/4GB/500GB/Win10</a><br />
                                                <a href="#" class="category">ASUS Laptop</a>
                                                <p class="price">7.490.000đ</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item">
                                    <ul class="thumbnails listing-products">
                                        <li class="span3">
                                            <div class="product-box">
                                                <a href="product_detail.html"><img alt="" src="/themes/images/cloth/anh18.png"></a><br />
                                                <a href="product_detail.html" class="title">Laptop HP 15 bs161TU i5 8250U/4GB/1TB/Win10/</a><br />
                                                <a href="#" class="category">HP Laptop</a>
                                                <p class="price">13.990.000đ</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section style="background-color: #857474;" id="footer-bar">
            <div class="row">
                <div class="span3">
                    <h4>Điều Hướng</h4>
                    <ul class="nav">
                        <li><a href="./index.html">Trang chủ</a></li>
                        <li><a href="./about.html">Thông tin</a></li>
                        <li><a href="./contact.html">Liên hệ</a></li>
                        <li><a href="./cart.html">Giỏ hàng</a></li>
                        <li><a href="./register.html">Đăng nhập</a></li>
                    </ul>
                </div>
                <div class="span4">
                    <h4>My Account</h4>
                    <ul class="nav">
                        <li><a href="#">Tài khoản của tôi</a></li>
                        <li><a href="#">Lịch sử đặt hàng</a></li>
                        <li><a href="#">Danh sách yêu thích</a></li>
                        <!-- <li><a href="#">Làm mới</a></li> -->
                    </ul>
                </div>
                <div class="span5">
                    <p class="logo"><!-- <img src="/themes/images/logo.png" class="site_logo" alt=""> --><h4>Duy Thành Store</h4></p>
                    <p style="color: white;">
                        Website chúng tôi chuyên cung cấp các sản phẩm chất lượng có uy tín và mới nhất trên thị trường hiện nay
                        <br />Hãy ghé thăm trang web của chúng tôi và đừng bỏ lỡ các sản phẩm mới nhé!
                    </p>
                    <div style="margin-left: 60px;">
                        <a href="#" class="button">
                            <i class="fab fa-facebook-f fa-lg"></i>
                        </a>
                        <a href="#" class="button">
                            <i class="fab fa-twitter fa-lg"></i>
                        </a>
                        <a href="#" class="button">
                            <i class="fab fa-instagram fa-lg"></i>
                        </a>
                    </div>

                </div>
            </div>
        </section>
        <section id="copyright">
            <span>Copyright 2013 bootstrappage template  All right reserved.</span>
        </section>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Cập nhật giỏ hàng</h4>
                    </div>
                    <div class="modal-body">
                        <form action="">
                            <div class="form-group">
                                <label for="ten">Số lượng:</label>
                                <input type="text" class="form-control" id="soluong" required>
                            </div>
                            <button type="submit" class="btn btn-default" id="btn-save">Save</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btn-close" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal1" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Bạn có chắc chắn muốn xóa hóa đơn <span style="color: red"></span> hay không?</h4>
                    </div>
                    <div class="modal-body">

                        <form action="">
                            <button type="submit" id="btn-delete" class="btn btn-default" style="margin-left: 43%;">
                                Xóa
                            </button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <!--modal -->


    </div>
    <script src="/themes/js/common.js"></script>
    <script>
        $(document).ready(function () {
            $('#checkout').click(function (e) {
                document.location.href = "checkout.html";
            })
        });
    </script>
    <script src="../js/client/clientCommon.js"></script>
    <script src="../js/client/cart.js"></script>
</body>
</html>